section.about
  .container.container--about
    .about__face
      .about__face-image
        +image('content/IMG_3736.jpg','about__avatar')
      .about__face-data
        table.about__face-table 
          - var data = [['Проживаю','Рагби, Англия'],['Возраст','32 года'],['Родился','25 сентября 1986']]
          each row in data
            tr
              td.about__face-question #{row[0]} 
              td.about__face-answer #{row[1]} 
    .about__right
      .about__right-description
        p.about__right-intro Привет, меня зовут
        p.about__right-name Александр Дерменжи
        p.about__right-info Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
        p.about__right-note Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!