section.contact
  h2.contact__title Связаться со мной
  form.contact__form
    .contact__form-header
      label.contact__block
        .contact__label-text Введите ваше имя
        +icon('user','contact__form-icon')
        input.contact__name(type='text' name='name' placeholder="Ковальчук Дмитрий") 
      label.contact__block
        .contact__label-text Введите ваш email
        +icon('envelope','contact__form-icon')
        input.contact__name(type='email' name='emal' placeholder="dima@yandex.ru") 
    .contact__form-footer
      div.contact__block
        .contact__label-text.contact__label-text--textarea Сообщение к письму
        +icon('message','contact__form-icon contact__form-icon--textarea')
        textarea.contact__name(name='text')  Требуется ваша помощь в создании сайта. Интересуют сроки и цена вопроса.
        
    button(type="submit").contact__btn Отправить
    