.hero
  include header
  include hamburger 
  .parallax
    .parallax__layer(data-speed="0.1")
      +image('content/parallax/1.png','parallax-img')
    .parallax__layer(data-speed="0.3") 
      +image('content/parallax/2.png','parallax-img')
    .parallax__layer(data-speed="0.4") 
      +image('content/parallax/3.png','parallax-img')
    .parallax__layer(data-speed="0.6") 
      +image('content/parallax/4.png','parallax-img')
    .parallax__layer(data-speed="0.6") 
      +image('content/parallax/5.png','parallax-img')
    .parallax__layer(data-speed="0.6") 
      +image('content/parallax/6.png','parallax-img')    
  .intro
    .intro__description Личный сайт<br> веб разработчика
    .intro__name 
      h1.intro__name-text Александр Дерменжи
  a.scroll(href="#")
    .scroll-text Скролл
    .scroll-icon 
      +icon('scroll', 'scroll-svg')