section.hero
  include header
  include hamburger 
  include parallax   
  .intro
    .intro__description Личный сайт<br> веб разработчика
    .intro__name 
      h1.intro__name-text Александр Дерменжи
  include scroller
  
    