section.intro
  .intro__parallax
    .parallax__layer(data-speed="0.2")
      +image('content/parallax_top.png','intro__parallax-img')
    .parallax__layer(data-speed="0.3") 
      +image('content/parallax_bottom.png','intro__parallax-img')

  .intro__text
    .intro__description Личный сайт<br> веб разработчика
    .intro__name 
      h1.intro__name-text Александр Дерменжи
  a.intro__scroll(href="#")
    .intro__scroll-text Скролл
    .intro__scroll-icon 
      +icon('scroll', 'intro__scroll-svg')