section.skills#skills
  .container
    .skills__info
      h2.skills__title Чем я могу быть полезен вам
      .skills__info-text 
        p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
    #skills_container
    



