section.skills
  .skills__info
    h2.skills__title Чем я могу быть полезен вам
    .skills__info-text Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
  .skills__data
    .skills__data-hands
      +image('content/skills_hands.png','skills__data-img')
    .skills__data-graphic
      .skills__data-row1
        p.skills__data-title Front-end
        .skills__data-circlesrow
          .skills__data-circle
            svg.skills__circle-percentage(viewbox="0 0 100 100" preserveAspectRation="none")
              circle.skills__circle.skills__circle-inner(cx="50" cy="50" r="40")
              circle.skills__circle.skills__circle-out(cx="50" cy="50" r="40" style="animation-delay: -99s") 
            p.skills__circle-text HTML5
          .skills__data-circle  
            svg.skills__circle-percentage(viewbox="0 0 100 100" preserveAspectRation="none")
              circle.skills__circle.skills__circle-inner(cx="50" cy="50" r="40")
              circle.skills__circle.skills__circle-out(cx="50" cy="50" r="40" style="animation-delay: -85s")
            p.skills__circle-text CSS3
          .skills__data-circle    
            svg.skills__circle-percentage(viewbox="0 0 100 100" preserveAspectRation="none")
              circle.skills__circle.skills__circle-inner(cx="50" cy="50" r="40")
              circle.skills__circle.skills__circle-out(cx="50" cy="50" r="40" style="animation-delay: -75s")
            p.skills__circle-text JavaScript              
          .skills__data-circle  
            svg.skills__circle-percentage(viewbox="0 0 100 100" preserveAspectRation="none")
              circle.skills__circle.skills__circle-inner(cx="50" cy="50" r="40")
              circle.skills__circle.skills__circle-out(cx="50" cy="50" r="40" style="animation-delay: -60s")
            p.skills__circle-text Jquery Vue.js 
      .skills__data-row2
        p.skills__data-title Workflow
        .skills__data-circlesrow
          .skills__data-circle  
            svg.skills__circle-percentage(viewbox="0 0 100 100" preserveAspectRation="none")
              circle.skills__circle.skills__circle-inner(cx="50" cy="50" r="40")
              circle.skills__circle.skills__circle-out(cx="50" cy="50" r="40" style="animation-delay: -60s")
            p.skills__circle-text GIT
          .skills__data-circle    
            svg.skills__circle-percentage(viewbox="0 0 100 100" preserveAspectRation="none")
              circle.skills__circle.skills__circle-inner(cx="50" cy="50" r="40")
              circle.skills__circle.skills__circle-out(cx="50" cy="50" r="40" style="animation-delay: -60s")
            p.skills__circle-text Terminal
          .skills__data-circle    
            svg.skills__circle-percentage(viewbox="0 0 100 100" preserveAspectRation="none")
              circle.skills__circle.skills__circle-inner(cx="50" cy="50" r="40")
              circle.skills__circle.skills__circle-out(cx="50" cy="50" r="40" style="animation-delay: -60s")
            p.skills__circle-text Gulp
          .skills__data-circle    
            svg.skills__circle-percentage(viewbox="0 0 100 100" preserveAspectRation="none")
              circle.skills__circle.skills__circle-inner(cx="50" cy="50" r="40")
              circle.skills__circle.skills__circle-out(cx="50" cy="50" r="40" style="animation-delay: -60s")
            p.skills__circle-text Webpack