section.work
  .container.container--work
    h2.work__title Мои работы
    .work-content
      include work-slider
      .work-slider-description
        .work-slider-skills
          .work-slider-skillsitem HTML
          .work-slider-skillsitem CSS
          .work-slider-skillsitem JavaScript
        h3.work-slider-title Сайт школы образования
        .work-slider-text 
          p Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
        a.work-slider-link(href="#") Посмотреть сайт     