include ./mixins.pug

<!DOCTYPE html>
html(lang="ru ")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .hero
        include components/hamburger 
        include components/header
        include components/intro
      include components/about
      include components/skills
      include components/work
      .feedback-form__wrapper
        +image('content/leaves.png','feedback-form__decor')       
        .container.container--review
          include components/review 
          include components/contact
      include components/footer